<h2 mat-dialog-title>{{ title }}</h2>

<div>
    <mat-dialog-content class="mat-typography">
        <button mat-dialog-close class="close-button">
            <mat-icon>close</mat-icon>
        </button>
        <mat-tab-group [animationDuration]="'0ms'">
            <mat-tab label="Message Generator">
                <div class="message-label">Message Rules:</div> <textarea type="text" [(ngModel)]="prompt"
                    title="Message" [placeholder]="placeholder"></textarea>
                <div mat-dialog-actions align="end">
                    <button mat-button cdkFocusInitial (click)="generateEmailSmsMessages()">Generate Messages</button>
                </div>
            </mat-tab>
            <mat-tab label="Email">
                <div class="message-label">Email Message:</div> <textarea type="text" [(ngModel)]="emailMessage"
                    title="Message"></textarea>
                <div mat-dialog-actions align="end">
                    <button mat-button cdkFocusInitial (click)="sendEmail()">Send Email</button>
                </div>
            </mat-tab>
            <mat-tab label="SMS">
                <div class="message-label">SMS Message:</div> <textarea type="text" [(ngModel)]="smsMessage"
                    title="Message"></textarea>
                <div mat-dialog-actions align="end">
                    <button mat-button cdkFocusInitial (click)="sendSMS()">Send SMS</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
</div>