<app-header (userLoggedIn)="userLoggedIn($event)"></app-header>

<main>
    <div *ngIf="loggedIn">
        <app-customers-list (customerSelected)="customerSelected($event)"></app-customers-list>
        <br />
        <app-related-content [selectedCustomer]="selectedCustomer"></app-related-content>
    </div>
    <div *ngIf="!loggedIn">
        <h2>{{ signInMessage }}</h2>
    </div>
    <cm-overlay [delay]="300">
        <span class="spinner"></span>&nbsp;&nbsp;&nbsp;Working...
    </cm-overlay>
</main>

<router-outlet></router-outlet>