<app-header (userLoggedIn)="userLoggedIn($event)"></app-header>

<main>
    <div *ngIf="loggedIn">
        <app-customers-list [customers]="customers" (customerSelected)="customerSelected($event)"></app-customers-list>
        <div *ngIf="selectedCustomer">
            <app-files [selectedCustomer]="selectedCustomer"></app-files>
            <br />
            <app-chats [selectedCustomer]="selectedCustomer"></app-chats>
            <br />
            <app-emails [selectedCustomer]="selectedCustomer"></app-emails>
        </div>
    </div>
    <div *ngIf="!loggedIn">
        Please Sign In
    </div>
</main>

<router-outlet></router-outlet>
