<section *ngIf="data">
    <h2>Related Email</h2>
    <div class="scroller">
        <mat-card *ngFor="let email of data">
            <mat-card-header>
              <mat-card-title>{{email.subject}}</mat-card-title>
              <mat-card-subtitle [innerHTML]="email.bodyPreview"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <a mat-flat-button color="basic" [href]="email.webLink" target="_blank">View</a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="!data.length">
        <h3>No email messages found</h3>
    </div>
</section>
