<section *ngIf="data">
    <h2>Related Chats</h2>
    <div class="scroller">
        <mat-card *ngFor="let chatMessage of data">
            <mat-card-header>
              <mat-card-title [innerHTML]="chatMessage.summary"></mat-card-title>
              <mat-card-subtitle [innerHTML]="chatMessage.body"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <a mat-flat-button color="basic" [href]="chatMessage.webUrl" target="_blank">View</a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="!data.length">
        <h3>No chat messages found</h3>
    </div>
</section>
