<section *ngIf="data">
    <h2>Agenda Events</h2>
    <div class="scroller">
        <div class="root" *ngFor='let event of data'>
            <div class="time-container">
                <div class="date">{{ dayFromDateTime(event.start.dateTime)}}</div>
                <div class="time">{{ timeRangeFromEvent(event) }}</div>
            </div>

            <div class="separator">
                <div class="vertical-line top"></div>
                <div class="circle">
                    <div data-if="!event.bodyPreview.includes('Join Microsoft Teams Meeting')" class="inner-circle">
                    </div>
                </div>
                <div class="vertical-line bottom"></div>
            </div>

            <div class="details">
                <div class="subject">{{ event.subject }}</div>
                <div class="location" *ngIf="event.location.displayName">
                    at
                    <a href="https://bing.com/maps/default.aspx?where1={{event.location.displayName}}"
                        target="_blank"><b>{{ event.location.displayName }}</b></a>
                </div>
                <div class="attendees" *ngIf="event.attendees.length">
                    <span class="attendee" *ngFor="let attendee of event.attendees">
                        <mgt-person person-query="{{attendee.emailAddress.name}}"></mgt-person>
                    </span>
                </div>
                <div class="online-meeting" *ngIf="event.bodyPreview.includes('Join Microsoft Teams Meeting')">
                    <img class="online-meeting-icon" src="https://img.icons8.com/color/48/000000/microsoft-teams.png"
                        title="Online Meeting" />
                    <a class="online-meeting-link" href="{{ event.onlineMeetingUrl }}">Join Teams Meeting</a>
                </div>
            </div>
        </div>
        <div *ngIf="!data">
            No events found
        </div>
    </div>
</section>