/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #fafafa; }
main { margin: 15px; }
th { cursor: pointer; }

.scroller {
    max-height: 350px;;
    overflow-y: auto;
}

mat-card {
    margin-bottom: 10px;
}

.mat-mdc-card-title {
    font-size: 1.2em;
}

mat-panel-title {
    font-size: 1.2em;
}

mat-icon[svgIcon] {
    margin-right: 5px;
    width: 1.2em;
}